.navbar {
    background-color:white;
    color:black;
    display:flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    
}
.nav-links a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6fb;
    color: #333;
}
.content {
    padding: 10px;
    width: 200px;
    height: auto;
    text-align: center ;
    background-color: lightblue;
    float:inline-end;
}